//
//  Dev.xcconfig
//  Goverland
//
//  Created by Andrey Scherbovich on 29.07.23.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

APP_ICON_NAME = AppIcon-Staging
PRODUCT_BUNDLE_IDENTIFIER = me.scherbovich.goverland.staging
NOTIFICATION_EXTENSION_BUNDLE_IDENTIFIER = me.scherbovich.goverland.staging.NotificationServiceExtension

// URLs
BASE_URL = https:/$()/inbox.staging.goverland.xyz
DEFAULT_PAGINATION_COUNT = 10
TIMEOUT = 3
