<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>Camera access is required to scan QR codes.</string>
	<key>BASE_URL</key>
	<string>$(BASE_URL)</string>
	<key>DEFAULT_PAGINATION_COUNT</key>
	<string>$(DEFAULT_PAGINATION_COUNT)</string>
	<key>FirebaseAutomaticScreenReportingEnabled</key>
	<false/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>TIMEOUT</key>
	<string>$(TIMEOUT)</string>
	<key>UIAppFonts</key>
	<array>
		<string>Chillax-Regular.otf</string>
		<string>Chillax-Bold.otf</string>
		<string>Chillax-Semibold.otf</string>
		<string>Chillax-Medium.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>WC_PROJECT_ID</key>
	<string>$(WC_PROJECT_ID)</string>
	<key>ENABLE_PUSH_NOTIFICATIONS_REQUEST_INTERVAL</key>
	<string>$(ENABLE_PUSH_NOTIFICATIONS_REQUEST_INTERVAL)</string>
</dict>
</plist>
