//
//  Prod.xcconfig
//  Goverland
//
//  Created by Andrey Scherbovich on 29.07.23.
//  Copyright © Goverland Inc. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

APP_ICON_NAME = AppIcon
PRODUCT_BUNDLE_IDENTIFIER = xyz.goverland.ios

// Firebase
FIREBASE_CONFIG = GoogleService-Info.Production

// WalletConnect
WC_PROJECT_ID = cbca9321570134df3d46a6ec431610da

// URLs
BASE_URL = https:/$()/inbox.goverland.xyz
DEFAULT_PAGINATION_COUNT = 20
TIMEOUT = 30

// Push Notifications request interval: 60 days (60 * 60 * 24 * 60)
ENABLE_PUSH_NOTIFICATIONS_REQUEST_INTERVAL = 5184000

// Agree with DAO terms request interval: 180 days (60 * 60 * 24 * 180)
DAO_TERMS_AGREEMENT_REQUEST_INTERVAL = 15552000

// Suggest to rate after voting request intervel: 90 days (60 * 60 * 24 * 90)
SUGGEST_TO_RATE_REQUEST_INTERVAL = 7776000
