//
//  Stage.xcconfig
//  Goverland
//
//  Created by Andrey Scherbovich on 29.07.23.
//  Copyright © Goverland Inc. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

APP_ICON_NAME = AppIcon-Staging
PRODUCT_BUNDLE_IDENTIFIER = xyz.goverland.ios.staging

// Firebase
FIREBASE_CONFIG = GoogleService-Info.Staging

// WalletConnect
WC_PROJECT_ID = 91b2aae469cff88a5ad9d18e77d1fed5

// URLs
BASE_URL = https:/$()/inbox.staging.goverland.xyz
DEFAULT_PAGINATION_COUNT = 20
TIMEOUT = 10

// Push Notifications request interval: 15 sec
ENABLE_PUSH_NOTIFICATIONS_REQUEST_INTERVAL = 15

// Agree with DAO terms request interval: 1 hour
DAO_TERMS_AGREEMENT_REQUEST_INTERVAL = 3600

// Suggest to rate after voting request interval: 15 sec
SUGGEST_TO_RATE_REQUEST_INTERVAL = 15

// Hint AI summarization request interval: 15 sec
HINT_AI_SUMMARY_REQUEST_INTERVAL = 15
